.fb-card {
  width: 500px;
}

.fb-card-grid-item-100 {
  width: 100% !important;
  padding: 8px !important;
}

.fb-card-grid-item-50 {
  width: 50% !important;
  padding: 8px !important;
}

.fb-padding {
  padding: 8px !important;
}

.fb-padding-top {
  padding-top: 8px !important;
}
.fb-padding-left {
  padding-left: 8px !important;
}

.fb-card-title {
  color: rgba(0, 0, 0, 0.88);
  font-weight: 600;
  font-size: 16px;
}

.width-100 {
  width: 100%;
}

.fb-collapse-padding-0 > .ant-collapse-header {
  padding: 8px !important;
}
.fb-collapse-padding-0 > .ant-collapse-content > .ant-collapse-content-box {
  padding: 0px !important;
}

.color-red-5 {
  color: #ff4e4f;
}

.color-blue-5 {
  color: #4096ff;
}
